<footer class="bg-gray-300 rounded-lg shadow dark:bg-gray-900 m-4 fixed bottom-0 left-0 right-0">
    <div class="w-full max-w-screen-xl mx-auto py-0">
        <div class="sm:flex sm:items-center sm:justify-between">
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; 2024. All
                Rights Reserved.</p>
        </div>
    </div>
</footer>