<header class="fixed py-4 bg-sky-200 top-0 left-0 right-0 ">
    <div class="max-w-screen-xl mx-auto my-0">
        <a href="/profile">
            <h1 class="text-[36px] font-bold inline-flex">Випускний проект</h1>
        </a>
        <% if (currentUser) { %>
            <%- include('./nav.ejs') %>
                <% } %>
    </div>
</header>